@charset "UTF-8";

/* RESET GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* VARIÁVEIS GLOBAIS */
:root {
    --cor-primaria: #4f46e5;
    --cor-secundaria: #111;
    --cor-bg: #001704;
    --cor-card: #ffffff;

    --max-width: 1200px;
}

body {
    background-color: var(--cor-bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;


}

div.main-inner {
    transform: 0.8s ease;

}

main {

    border: 1px solid #111;
    position: relative;
    width: 300px;
    height: 360px;
    border-radius: 30px;
    border: none;
    background-color: var(--cor-bg);
}

img {


    position: absolute;
    top: -66px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 210px;
    height: 150px;
}

img.bambu {
    position: absolute;
    top: 100%;
    left: 0%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 350px;
    z-index: -1;


}

div.contain {


    border: 1px solid #111;
    position: absolute;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 350px;
    border-radius: 30px;
    background-color: var(--cor-card);

    transition: width 1s, height 1s;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: width 0.7s, height 0.7s;
}