@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to left, #003c0b, #003009, #002607, #002206, #001e05, #001704);


    }



    main {

        width: 800px;
        height: 860px;
        border-radius: 40px;
        border: none;
        background-color: #00220600;


    }

    img {

        position: absolute;
        top: -110px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 370px;
        height: 250px;
    }

    img.bambu {
        position: absolute;
        top: 100%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        z-index: -1;
    }

    div.contain {

        border: 1px solid #111;
        position: absolute;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        height: 320px;
        border-radius: 30px;
        background-color: var(--cor-card);

    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width:992px) and (max-width: 1200px) {
    body {
        background-image: linear-gradient(to left, #003c0b, #003009, #002607, #002206, #001e05, #001704);
    }

    main {
        border: 1px solid #111;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 860px;
        border-radius: 40px;
        border: none;
        background-color: #003c0b00;
    }

    img {
        position: absolute;
        top: -110px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 370px;
        height: 250px;
    }

    img.bambu {
        position: absolute;
        top: 100%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        z-index: -1;
    }

    div.contain {
        border: 1px solid #111;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 650px;
        height: 320px;
        border-radius: 30px;
        background-color: var(--cor-card);

    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

@media screen and (min-width:1200px) {
    body {
        background-image: linear-gradient(to left, #003c0b, #003009, #002607, #002206, #001e05, #001704);
    }

    main {
        border: 1px solid #111;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 800px;
        height: 860px;
        border-radius: 40px;
        border: none;
        background-color: #00220600;
    }

    img {
        position: absolute;
        top: -110px;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 370px;
        height: 250px;
    }

    img.bambu {
        position: absolute;
        top: 100%;
        left: 10%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 400px;
        z-index: -1;
    }

    div.contain {
        border: 1px solid #111;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 700px;
        height: 360px;
        border-radius: 30px;
        background-color: var(--cor-card);

    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}